form {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	margin: 0 auto;
}

input, select {
	display: block;
}

[type="checkbox"], 
[type="radio"] {
	display: inline;
}

label {
	display: block;
}

label, fieldset {
	margin: 0 0 10px 0;
}

.error {
	visibility: hidden;
}

[aria-invalid="true"] + .error {
	visibility: visible;
}