.set-alarm {
  --theme-background: #ffd166;
  --theme-color: #001219;
}

.set-alarm__statusbar {
  display: flex;
  justify-content: space-between;
}

.set-alarm__repeat-action {
  cursor: pointer;
}

.set-alarm__repeat-input {
  position: fixed;
  width: 0;
  height: 0;
  appearance: none;
  left: -10000;
  right: -10000;
}

.set-alarm__neutral {
  color: var(--feedback-neutral);
}

.set-alarm__negative {
  color: var(--feedback-negative);
}

.set-alarm__positive {
  color: var(--feedback-positive);
}
