.set-alarm {
  --theme-background: #ffd166;
  --theme-color: #001219;

  &__statusbar {
    display: flex;
    justify-content: space-between;
  }

  &__repeat-action {
    display: block;
    cursor: pointer;
  }

  &__repeat-input {
    position: fixed;
    width: 0;
    height: 0;
    appearance: none;
    left: -10000;
    right: -10000;
  }

  &__action--neutral {
    color: var(--feedback-neutral);
  }

  &__action--negative {
    color: var(--feedback-negative);
  }

  &__action--positive {
    color: var(--feedback-positive);
  }
}
